<div class="card col-12">
    <h3>{{user.firstName+" "+user.lastName}}</h3>
    <p class={{activityState}}>{{activityState?activityState:""}}</p>
    <table>
        <tr>
            <td>
                Login Id
            </td>
            <td>
                {{user.login}}

            </td>
        </tr>
        <tr>
            <td>
                First Name
            </td>
            <td>
                {{user.firstName}}

            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                {{user.lastName}}

            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                {{user.age}}

            </td>
        </tr>
    </table>

</div>