<form [formGroup]="createForm">
    <tr>
        <td> firstName </td>
        <td><input type="text" formControlName="firstName"> </td>
    </tr>
    <tr>
        <td> lastName: </td>
        <td> <input type="text" formControlName="lastName"> </td>
    </tr>
    <tr>
        <td> login: </td>
        <td> <input type="text" formControlName="login"> </td>
    </tr>
    <tr>
        <td> password: </td>
        <td><input type="text" formControlName="password"></td>
    </tr>
    <tr>
        <td> age:</td>
        <td> <input type="text" formControlName="age"></td>
    </tr>

    <tr>
        <td>
            <input type="button" class="btn btn-primary" value="Submit" (click)="createUser()">
        </td>
    </tr>
</form>